<div>
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <p><i>Ahorramas, S.A Todos los derechos reservados.</i><br>
            Ctra. de Arganda del Rey a Velilla de San Antonio, km 5 28891 Velilla de San Antonio (Madrid)<br>

            <a href="https://ahorramas.es/aviso-legal">Aviso legal</a> -
            <a href="https://ahorramas.es/politica-cookies">Política de cookies</a> -
            <a href="https://ahorramas.es/politica-privacidad">Política de privacidad</a>


          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 socialfootercontainer">

          <div class="socialfooter">

            <div><a href="https://www.instagram.com/ahorramas_com" target="_blank"><i class="fa fa-instagram fa-2x"
                  aria-hidden="true"></i></a></div>
            <div><a href="https://www.facebook.com/Ahorramas?fref=ts" target="_blank"><i class="fa fa-facebook fa-2x"
                  aria-hidden="true"></i></a></div>
            <div><a href="https://twitter.com/Ahorramas_com" target="_blank"><i class="fa fa-twitter fa-2x"
                  aria-hidden="true"></i></a></div>
            <div><a href="http://www.youtube.com/channel/UCDbjvPCk3WTRs0f9xp8bddA" target="_blank"><i
                  class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></div>


            </div>

        </div>

      </div>
    </div>
  </div>
</div>
</div>