<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators" style="display:inline-flex;width:30%;">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

    <li data-target="#myCarousel" data-slide-to="1" class=""></li>

    <li data-target="#myCarousel" data-slide-to="2" class=""></li>

    <li data-target="#myCarousel" data-slide-to="3" class=""></li>

    <li data-target="#myCarousel" data-slide-to="4" class=""></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href="https://ahorramas.es/folleto">
        <img
          src="https://ahorramas.es/img/slides/TdaB3wQhmZ.jpg"
          alt="Descarga folleto"
          style="width: 100%;"
          class="hidden-xs"
        />
        <img
          src="https://ahorramas.es/img/slides/4uLsgVBV6I.jpg"
          alt="Descarga folleto"
          style="width: 100%;"
          class="hidden-sm hidden-md hidden-lg"
        />
      </a>
    </div>
    <div class="item next">
      <a href="http://localhost:8080/ES/es-ES/product/bonito/027">
        <img
          src="https://ahorramas.es/img/slides/g7F8Gw4uQP.jpg"
          alt="Bonito 25 y 26"
          style="width: 100%;"
          class="hidden-xs"
        />
        <img
          src="https://ahorramas.es/img/slides/yTOnyR7wg3.jpg"
          alt="Bonito 25 y 26"
          style="width: 100%;"
          class="hidden-sm hidden-md hidden-lg"
        />
      </a>
    </div>
    <div class="item">
      <a href="http://localhost:8080/ES/es-ES/product/conejo/014">
        <img
          src="https://ahorramas.es/img/slides/gX6am8GGxV.jpg"
          alt="Conejo"
          style="width: 100%;"
          class="hidden-xs"
        />
        <img
          src="https://ahorramas.es/img/slides/EKOZi5W9Mj.jpg"
          alt="Conejo"
          style="width: 100%;"
          class="hidden-sm hidden-md hidden-lg"
        />
      </a>
    </div>
    <div class="item">
      <a href="http://localhost:8080/ES/es-ES/product/ternera/013">
        <img
          src="https://ahorramas.es/img/slides/lmlehQxHC1.jpg"
          alt="Filete de añojo"
          style="width: 100%;"
          class="hidden-xs"
        />
        <img
          src="https://ahorramas.es/img/slides/j1i9o8MNRU.jpg"
          alt="Filete de añojo"
          style="width: 100%;"
          class="hidden-sm hidden-md hidden-lg"
        />
      </a>
    </div>
    <div class="item">
      <a href="https://ahorramas.net/">
        <img
          src="https://ahorramas.es/img/slides/ReFWdtkoTV.jpg"
          alt="Venta por teléfono"
          style="width: 100%;"
          class="hidden-xs"
        />
        <img
          src="https://ahorramas.es/img/slides/ZoIV3vtRoe.jpg"
          alt="Venta por teléfono"
          style="width: 100%;"
          class="hidden-sm hidden-md hidden-lg"
        />
      </a>
    </div>
  </div>
</div>
